.THIS .strike-through{
  text-decoration: line-through;
}

.THIS .projectName{
    line-height: 1;
}

.THIS .taskGroupName {
	color: #54698D;
}

.THIS .projectGroupNameDivider {
	color: #9faab5;
}

.THIS:not(:last-child){
	border-bottom: 1px solid #D8DDE6;
	padding-bottom: 8px;
	width: calc(100% - 8px);
	margin-left: 4px;
}